body {
    padding: 5%;
    background: #1d1f20;  
    background-image: url("image/2.jpg");  
}

#progress {
    font: 50px Arial;
    color: white;
    display: none;
    position:relative;
    width:400px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
h1 {
    font: 60px Helvetica , sans-serif;
    color: #ccc;
    margin-bottom: 15px;
}
h2{
    font: 30px Helvetica , sans-serif;
    color: #ccc;
}
.aciklama {
    margin: 25px;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
#slider{
    margin: auto;
}
.slider{
    overflow: hidden;
}
.slider ul{
    overflow: hidden;
}

.slider ul li{
    float: left;

}
.previous {
    margin-top: 15px;
    font: 40px Sans-serif;
    float: left;
    opacity: 0.5;
}
.previous:hover {
    font: 60px Sans-serif;
    color: #fff;
    opacity: 1;
}
.previous:active {
    color: #F44336;
}
.next {
    margin-top: 15px;
    font: 40px Sans-serif;
    float: right;
    opacity: 0.5;
}
.next:hover {
    font: 60px Sans-serif;
    color: #fff;
    opacity: 1;
}
.next:active {
    color: #4CAF50;
}
#upload{
    margin-left: 40%;
    margin-top: 10%;
}
form{
    display: block;
    margin: 20px auto;
    background: #eee;
    border-radius: 10px;
    padding: 15px }
#bar{
    background-color: #B4F5B4;
    width:0%;
    height:20px;
    border-radius: 3px; }
#yuzde{
    position:absolute;
    display:inline-block;
    top:3px;
    left:48%; }
#parent {
    margin: auto;
    width: 1000px;
}