body {
    background-color: #222;
}

.ana{
    color: #fff;
    font: 40px Arial;
}
.arti {
    background-color: #b2b2b2;
    margin-left: 44%;
    margin-top: 4%;
    border: 2px solid #ccc;
    color: #fff;
    font: 40px Arial;
    border-radius: 25px;
    width: 170px;
    padding: 20px;
}
#yukle {
    margin-left: 30%;
    margin-top: 2%;
    background-color: #b2b2b2;
    color: #fff;
    font: 40px Arial;
    border: 2px solid #ccc;
    border-radius: 150px;
    padding: 5%;
    width: 700px;
}

input {
    font: 40px Arial;
}

#butonSlayt {
    margin-left: 27%;
    background-color: transparent;
    border: 3px outset papayawhip;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 20px;
    padding:5px;
}
#slaytButon {
    margin-left: 30%;
    margin-top: 2%;
    padding-bottom: 30px;
    border: 2px solid #ccc;
    border-radius:  200px;
    width: 950px;
    background-color: #b2b2b2;
}
#iframe {
    background-color: #ccc;
    margin:10px;
    margin-left: 30%;
}