body {
    padding: 1%;
    background: #1d1f20;  
    background-image: url("image/2.jpg");  
}
#index {
    margin: auto;
    width: 1000px;
    background: #343436;
    border-radius: 15px;
    border: 1px solid darken(#3498db, 20%);
    opacity: 0.6;
}
.arti {
    width: 100%;
    height: 100px;
    display: block;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    border: 0;
    font: 50px Helvetica, sans-serif;
}
.arti:hover {
    border: 5px outset darken(#ddd, 20%);
    background: #00BCD4;
    color: $333;
    opacity: 1;

}
.arti:active {
    border: 10px inset darken(#000,20%);
    background: #44FFFF;
}
#dosya{
    margin: 2% 0% 2% 40%;
    width: auto;
    font-size: xx-large;
    color: white;
}
.eksi {
    margin: 2% 0% 2% 40%;
    background-color: #ccc;
    width: 170px;
    border-radius: 5px;
    font: 32px sans-serif;
}
.eksi:hover {
    background-color: #FF1744;
    color: white;
}
#yukleButon {
    width: 100%;
    height: 100px;
    display: block;
    padding: 10px;
    border-radius: 0px 0px 0px 0px;
    border: 0;
    font: 50px Helvetica, sans-serif;
}
#yukleButon:hover {
    border: 10px inset darken(#000,20%);
    background-color: #00BCD4;
}
#yukleButon:active {
    border: 10px inset darken(#000,20%);
    background: #44FFFF;
}
#iframe {
    width: 90%;
    margin: 30px;
    background-color: #aaa;
    border-radius: 15px;
    padding: 25px;
    font-size: xx-large;
}
#butonSlayt {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    border: 0;
    font: 50px Helvetica, sans-serif;
}
#butonSlayt:hover {
    border: 10px inset darken(#000,20%);
    background-color: #00BCD4;
}
#butonSlayt:active {
    border: 10px inset darken(#000,20%);
    background: #44FFFF;
}
#aciklama{
    margin: auto;
    width: 1000px;
}
h1 {
    font: 60px Helvetica , sans-serif;
    color: #ccc;
}
h2{
    font: 30px Helvetica , sans-serif;
    color: #ccc;
}
